# Part 1 - Setup

### 1.1 - Install Python
Feel free to set up Python in your preferred manner. If you're considering Anaconda, you can refer to the documentation provided at: https://docs.anaconda.com/free/anaconda/install/index.html

### 1. 2 - The `python` interpreter
- Upon successful installation of Python, you ought to be able to launch the terminal and enter python within the command line.
- Experiment with entering various operations to observe their functionality. For instance:
    * `2 + 3`
    * `2.0 + 3`
    * `print("hello world")`
- Type `exit()` to exit.

### 1.3 - Explore `jupyter notebook`
- If you haven't installed Jupyter yet, and want to, one approach is to proceed by following the guidelines outlined here: https://test-jupyter.readthedocs.io/en/latest/install.html
- Type `jupyter notebook` to spin up a notebook server.
- Chances are, your web browser will open automatically; if it doesn't, simply determine the active port and access it through your browser.

### 1.4 - Run a script from the command line
- Go to your working directory and make a script named test-script.py.
- Craft the necessary code so that executing this script results in printing `Hello World` within the terminal.
- Execute the script to observe the outcome.

# Part 2 - Lists, Dictionaries and Functions

### 2.1 - Revise this loop to print a list containing integers ranging from 6 to 10.

In [1]:
my_list = []
for i in range(6, 11):
    my_list.append(i)
print(my_list)

[6, 7, 8, 9, 10]

### 2.2 - Do the same with [list comprehension](https://realpython.com/list-comprehension-python/) using one line of code.

In [2]:
my_list_2 = [i for i in range(6, 11)]
print(my_list_2)

[6, 7, 8, 9, 10]

### 2.3 - Revise the following to code to print just the 2nd, 3rd, and 4th elements in the list.

In [3]:
print(my_list_2[1:4])

[7, 8, 9]

### 2.3 - Create a dictionary comprising the number of characters of each word in `list_of_fruits`.

For example, `['apple', 'orange']` -> `{'apple': 5, 'orange': 6}`

In [4]:
list_of_fruits = ['apple', 'orange', 'pear', 'strawberry', 'peach', 'watermelon', 'pineapple']

In [5]:
num_characters = {}
for fruit in list_of_fruits:
    num_characters[fruit] = len(fruit)
print(num_characters)

{'apple': 5, 'orange': 6, 'pear': 4, 'strawberry': 10, 'peach': 5, 'watermelon': 10, 'pineapple': 9}

### 2.4 - We forgot about bananas, add `bananas` to `list_of_fruits`.

In [6]:
list_of_fruits.append('bananas')
print(list_of_fruits)

['apple', 'orange', 'pear', 'strawberry', 'peach', 'watermelon', 'pineapple', 'bananas']

### 2.5 - Turns out we don't like peaches, remove `peach` from `list_of_fruits`.

In [7]:
list_of_fruits.remove('peach')
print(list_of_fruits)

['apple', 'orange', 'pear', 'strawberry', 'watermelon', 'pineapple', 'bananas']

### 2.6 - Build the same dictionary using comprehension instead of a loop, that is, in one line of code.

In [8]:
num_characters = {fruit: len(fruit) for fruit in list_of_fruits}
print(num_characters)

{'apple': 5, 'orange': 6, 'pear': 4, 'strawberry': 10, 'watermelon': 10, 'pineapple': 9, 'bananas': 7}

### 2.7 - Sum the total number of characters in the list using a for loop.

In [9]:
total = 0
for fruit in list_of_fruits:
    total += num_characters[fruit]
print(total)

51

### 2.8 - Can you do the same with no loop?

In [10]:
print(num_characters.values())
sum(num_characters.values())

dict_values([5, 6, 4, 10, 10, 9, 7])

51

### 2.9 - Enough with the fruit, make a function that returns a list comprising each of the factors of a specificed integer.
For example, `12` -> `[1, 2, 3, 4, 6, 12]`

In [11]:
def get_factors(x):
    factors = []
    for i in range(1, x+1):
        if x % i == 0:
            factors.append(i)
    return factors

In [12]:
factors = get_factors(12)
print(factors)

[1, 2, 3, 4, 6, 12]

### 2.10 - Now can you do the same in one line?

In [13]:
get_factors = lambda  x: [i for i in range(1, x + 1) if x % i == 0]

In [14]:
print(get_factors(12))

[1, 2, 3, 4, 6, 12]

### 2.11 - Make a function that produces the initial `x` numbers within the Fibonacci sequence, commencing with 1 (1, 1, 2, 3, 5, 8, 13, 21, ...).

In [15]:
def fibonacci_sequence(x):
    sequence = [1, 1]
    while len(sequence) < x:
        sequence.append(sequence[-1] + sequence[-2])
    return sequence

In [16]:
fibonacci_sequence(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### 2.12 - Create a [`class`](https://docs.python.org/3/tutorial/classes.html)  which can calculate the initial `x` numbers within the Fibonacci sequence, store it, then print it in graph format.
For instance, the first 5 elements of the sequence would be:
```
#
#
##
###
#####
```

In [17]:
class FibonacciSequence():
    def __init__(self, x):
        self.x = x
        
    def calculate(self):
        """Calculate the Fibonacci sequence."""
        sequence = [1, 1]
        while len(sequence) < self.x:
            sequence.append(sequence[-1] + sequence[-2])
        self.sequence = sequence
        
    def graph(self):
        """Print the calculated sequence in graph form."""
        for i in self.sequence:
            print('#' * i)

In [18]:
fib = FibonacciSequence(5)
fib.calculate()
fib.graph()

#
#
##
###
#####

# Part 3 - Numpy

In [19]:
import numpy as np

### 3.1 - Create an array of size 8 containing only zeros, except the fifth element, which is 1.

In [20]:
x = np.zeros(10)
x[4] = 1
print(x)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

### 3.2 - Create an array containing only values ranging from 11 to 36.

In [21]:
x = np.arange(11, 37)
x

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
       28, 29, 30, 31, 32, 33, 34, 35, 36])

### 3.3 - Reverse the array you made in the previous question.

In [22]:
x[::-1]

array([36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20,
       19, 18, 17, 16, 15, 14, 13, 12, 11])

### 3.4 - Make a 3 by 3 matrix which contains only values 2 to 10.

In [23]:
x = np.arange(2, 11).reshape(3, 3)
print(x)

[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

### 3.5 - Transform and multiply `A` and `B` such that the result is a 5 by 2 matrix.

In [24]:
A = np.ones((3, 5))
B = np.ones((3,2))

In [ ]:
C = A.T @ B
print(C.shape)

### 3.6 - Make an array filled with random values of size 9 and sort it.

In [ ]:
x = np.random.random(9)
x.sort()
print(x)

### 3.7 - Make an 8 by 8 identity matrix.

In [ ]:
I = np.eye(8)
print(I)

### 3.8 - Make a matrix filled with random values of size 3 by 3 by 3.

In [ ]:
X = np.random.random((3,3,3))
print(X)

### 3.9 - Make a matrix filled with random values of size 10 x 10 and find the minimum and maximum values.

In [ ]:
X = np.random.random((10,10))
X_min, X_max = X.min(), X.max()
print(X_min, X_max)

### 3.10 - Make a matrix of size 8 by 8 that resembles a chess board with white squares marked as 0, and black squared marked as 1.
It will look like,
```
[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]
 ```

In [ ]:
chess_board = np.zeros((8,8), dtype=int)
chess_board[1::2, ::2] = 1
chess_board[::2, 1::2] = 1
print(chess_board)

### 3.11 - Make a function that takes as input a matrix of all zeros, and places `p` number of 1's in the matrix at random positions.

In [ ]:
def place_randomly(X, p):
    indices = np.random.choice(range(len(X)*len(X)), p, replace=False)
    np.put(X, indices, 1)
    return X

In [ ]:
p = 15
X = np.zeros((10, 10))
place_randomly(X, p)

### 3.12 - Build the following matrix:
```
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]
```

In [ ]:
X = np.zeros((5, 5))
X += np.arange(5)
print(X)

### 3.13 - Make a function to find the closest value `v` to a given float in an array `x`.

In [ ]:
x = np.arange(100)
v = np.random.uniform(0, 100)

def find_closest(x, v):
    index = (np.abs(x - v)).argmin()
    print(np.abs(x - v))
    return x[index]

In [ ]:
closest = find_closest(x, v)
print(v, closest)

### 3.14 - Build a function to compute the rank of matrix `X`.

In [ ]:
# %%

In [ ]:
X = np.random.uniform(0, 1, (10,10))

def calculate_rank(X):
    _, S, _ = np.linalg.svd(X) # Singular Value Decomposition
    rank = np.sum(S > 0) # Total number of non zero eigenvalues
    return rank

In [ ]:
calculate_rank(X)

# Part 4 - Plotting

In [ ]:
import matplotlib.pyplot as plt

### 4.1 - Given the following `x` and `y` values, replicate the below plot as close as possible.

<img src='img/plot4_1.png' width='800'>

In [ ]:
x = np.arange(20)

y0 = np.sin(x / 5)
y1 = x ** 2
y2 = x
y3 = x / (x + 1)

In [ ]:
fig, axs = plt.subplots(2, 2, figsize=(10, 5), dpi=300)


ys = [y0, y1, y2, y3]
colors = ["red", "green", "orange", "blue"]
markers = ["*", "s", "x", "o"]

for i, (y, ax, color, marker) in enumerate(zip(ys, axs.flatten(), colors, markers)):
    
    ax.plot(x, y, marker=marker, color=color, lw=0.5, markersize=8)
    ax.set_title(f"y{i}")
    ax.set_xlabel("x")
    ax.set_ylabel("y")
    
fig.tight_layout()
fig.suptitle("The four elements of y", size=12, y=1.02)
plt.show()

### 4.2 - Take the array `y0` and add some Gaussian noise to it. Plot the area between the 5th and 95th percentiles, aswell as the median to replicate the following:
<img src=' ' width='500'>

In [ ]:
num_samples = len(y0)
sample_size = 50

x = np.arange(num_samples)

data = np.random.normal(0, 0.3, size=(num_samples, sample_size))

q95 = np.quantile(data, q=0.95, axis=1) + y0
q05 = np.quantile(data, q=0.05, axis=1) + y0
q50 = np.quantile(data, q=0.5, axis=1) + y0

fig, ax = plt.subplots(figsize=(4, 2.5), dpi=300)

ax.fill_between(x, q95, q05, alpha=0.6, color="C0", label="95% Int.")
ax.plot(x, q50, color="C0", label="Median")
ax.set_xlabel("x")
ax.set_ylabel("y")
ax.legend()
plt.show()